.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.cart-items p {
    text-align: left;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.loading {
    text-align: center;
}

.error-text {
    color: #b40e0e;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #2a4225;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #22341c;
    border-color: #2a4126;
    color: white;
}

.actions .button--alt {
    color: #2a4027;
}

.actions .button {
    background-color: #2a3f28;
    color: white;
}